@charset "utf-8";

$size: 50px;
$shadow: $size * 0.083;
//$width: $size + $shadow;

$dark-range: 20%;

$len1: 0.8;
$len2: 0.6;
$len3: 0.4;
$len4: 0.32;



$no2-color: #ffa0bb;
$no16-color: #f5f558;
$no512-color: #24b894;


@font-face {
	font-family: 'DSEG7';
	src: url('../fonts/DSEG7Modern-Italic.woff2') format('woff2'),
	url('../fonts/DSEG7Modern-Italic.woff') format('woff'),
	url('../fonts/DSEG7Modern-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


a {
	font-size: 10px;
}

.submit {
	border-style: none;
}

.calc-content {
	position: relative;
	width: 340px;
	padding: 16px;
	border: solid 4px #333333;
	border-radius: 8px;
	//	background: #fb7c00;
	background : #FFFFFF;
}

.btn {
	display: inline-block;
	position: relative;
	width: $size + $shadow;
	height: $size;
	margin: $shadow;
	line-height: $size;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border-radius: $shadow;
}
.btn:hover {
	cursor: pointer;
}

.btn:active {
	top: 4px;
	box-shadow:inset 0px 0px 2px #3a6da0;
}

.number {
	color: #664F44;
	background: $no16-color;
	box-shadow: 0 $shadow 0 darken( $no16-color, $dark-range);
}

.symbol {
	color: #ffffff;
	background: $no512-color;
	box-shadow: 0 $shadow 0 darken( $no512-color, $dark-range);
}

.clear {
	background: $no2-color;
	box-shadow: 0 $shadow 0 darken( $no2-color, $dark-range);
}


.size1 {
	font-size: $size * $len2;
}

.size2 {
	font-size: $size * $len3;

//	line-height: $size + $size * (1 - $len3);
	line-height: $size + 6;
}


.display {
	font-size: 36px;
	font-family: 'DSEG7';
	display: block;
	position: relative;
	width: 94%;
	height: 60px;
	margin: $shadow;
	line-height: 60px;
	text-align: right;
	color: #222222;
	font-weight: bold;
	border: 1px solid #2e3436;
	border-radius: $shadow;
//	background: #fb7c00;
	background: #cdddc0;
	z-index: 1;
}


#error-display {
	position: absolute;
	top: 26px;
	left: 26px;
	font-size: 16px;
	font-weight: bold;
	font-family: 'DSEG7';
	display: block;
	z-index: 10;
}



.no2 {
	font-size: $size * $len1;
	background: $no2-color;
	box-shadow: 0 $shadow 0 darken( $no2-color, $dark-range);
}


.no16 {
	font-size: $size * $len2;
	color: #664F44;
	background: $no16-color;
	box-shadow: 0 $shadow 0 darken( $no16-color, $dark-range);
}

.no512 {
	font-size: $size * $len3;
	color: #ffffff;
	background: $no512-color;
	box-shadow: 0 $shadow 0 darken( $no512-color, $dark-range);
}

.no2048 {
	font-size: $size * $len4;
	background: #00a5df;
	//	box-shadow: 0 $shadow 0 #006c93;
	box-shadow: 0 $shadow 0 darken( #00a5df, $dark-range);
}

.hide {
	visibility: hidden;
	opacity: 0;
}